<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<array>
		<string>Titanic</string>
		<string>Avengers</string>
		<string>Super Man</string>
		<string>Spider Man</string>
		<string>Vat man</string>
	</array>
</dict>
</plist>
